[submodule "libarray"]
	path = libarray
	url = http://github.com/ratouney/libarray
[submodule "printf"]
	path = printf
	url = http://github.com/ratouney/printf
[submodule "header"]
	path = header
	url = http://github.com/ratouney/header
[submodule "gnl"]
	path = gnl
	url = http://github.com/ratouney/gnl